/.EvaluateOperationXtend.java._trace
/.ExpressionEvaluateXtend.java._trace
/.EvaluateOperationXtend.xtendbin
/.ExpressionEvaluateXtend.xtendbin
/EvaluateOperationXtend.java
/ExpressionEvaluateXtend.java
